@page "/Detail"
@page "/Detail/{tecnicoId:int}"
@inject TecnicoServices tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject NotificationService notificationService
@inject TipoTecnicosServices tipoTecnicosServices

<PageTitle>Detalles de Tecnicos</PageTitle>

@if (Tecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles del tecnico</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>ID de tecnico:</strong> @Tecnico.TecnicoId</li>
                                <li><strong>Nombre:</strong> @Tecnico.Nombres</li>
                                <li><strong>Tipo Tecnico:</strong> @(tipoTecnicos?.Descripcion ?? "No disponible")</li>
                                <li><strong>SueldoHora:</strong> @Tecnico.SueldoHora</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Tecnico no encontrado.</p>
}

@code {
    [Parameter]
    public int tecnicoId { get; set; }

    public Tecnicos Tecnico { get; set; } = new Tecnicos();

    public TipoTecnicos tipoTecnicos { get; set; } = new TipoTecnicos();

    protected override async Task OnInitializedAsync()
    {
        if (tecnicoId != 0)
        {
            Tecnico = await tecnicoService.Buscar(tecnicoId);
            if (Tecnico?.TipoTecnicosId != null)
            {
                tipoTecnicos = await tipoTecnicosServices.Buscar(Tecnico.TipoTecnicosId);
            }
        }
    }
    
    public void Volver()
    {
        navigationManager.NavigateTo("/Index");
    }

}
